<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Logging</servlet-name>
        <servlet-class>Controller.Logging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoordinatorDAO</servlet-name>
        <servlet-class>DAO.CoordinatorDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoordinatorDAOsetter</servlet-name>
        <servlet-class>DAO.CoordinatorDAOsetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBeneficiary</servlet-name>
        <servlet-class>Servlets.addBeneficiary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeView</servlet-name>
        <servlet-class>Controller.HomeView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delBeneficiary</servlet-name>
        <servlet-class>Controller.delBeneficiary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccount</servlet-name>
        <servlet-class>Controller.createAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logging</servlet-name>
        <url-pattern>/Logging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoordinatorDAO</servlet-name>
        <url-pattern>/CoordinatorDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBeneficiary</servlet-name>
        <url-pattern>/addBeneficiary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoordinatorDAOsetter</servlet-name>
        <url-pattern>/CoordinatorDAOsetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeView</servlet-name>
        <url-pattern>/HomeView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delBeneficiary</servlet-name>
        <url-pattern>/delBeneficiary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccount</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
